<body>

    <% if(jwtData.roles == 2){%>
        <%- include('headerProfesseur') %>
      <% }else if(jwtData.roles == 3){ %>
        <%- include('headerProviseur') %>
      <% }else{ %>
        <%- include('headerEleve') %>
      <% } %>
  
      <div class="container w-75 p-5">
        <table class="table text-center table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Classe</th>
                    <% if(jwtData.roles == 3){%>
                        <th>Modification</th>
                        <th>Suppression</th>
                    <% } %>
                </tr>
            </thead>
            <tbody class="text-center">
                <% dataEleve.forEach(function(data){ %>
                    <tr>
                        <td><a href="http://localhost:4000/notes/notesEleve/<%=data.id_eleve%>"><%= data.nom_eleve %></a></td>
                        <td><%= data.prenom_eleve %></td>
                        <% dataClasse.forEach(function(dataC){ %>
                            <% if(dataC.id_classe == data.id_classe){ %>
                              <td><%= dataC.nom_classe %></td>
                            <% } %>
                            <% }) %>
                         

                        <% if(jwtData.roles == 3){%>
                            <td><a class="btn btn-outline-info btn-sm" href="http://localhost:4000/eleves/modifierEleve/<%=data.id_eleve%>">✏️</a></td>
                            <td><a class="btn btn-outline-danger btn-sm" href="http://localhost:4000/eleves/supprimerEleve/<%=data.id_eleve%>">❌</a></td>
                        <% } %>
                    </tr>
                <% })%>
            </tbody>
        </table>
    </div>
    
        
  </body>
  </html>