<body>

    <% if(jwtData.roles == 2){%>
      <%- include('headerProfesseur') %>
    <% }else if(jwtData.roles == 3){ %>
      <%- include('headerProviseur') %>
    <% }else{ %>
      <%- include('headerEleve') %>
    <% } %>
  
    <div class="container my-5 w-50 text-center">
  
      <h2 class="mb-4">Liste des matières </h2>
  
      <div class="table-responsive">
        <table class="table table-striped table-hover text-center">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Enseignant</th>
              <th>Modifier</th>
              <th>Suppression</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <% dataMatiere.forEach(function(data){ %>
              <tr>
                <td><%= data.nom_matiere %></td>
                <td>
                    <% try{ %>
                        <%= data.nom_perso %>
                        <%= data.prenom_perso %>
                    <% }catch{ %>
                        Non renseigné
                    <% } %>
                  </td>
                  <td><a class="btn btn-outline-info btn-sm" href="http://localhost:4000/matieres/modifierMatiere/<%=data.id_matiere%>"> ✏️ </a></td>
                <td><a class="btn btn-outline-danger btn-sm" href="http://localhost:4000/matieres/supprimerMatiere/<%=data.id_matiere%>"> ❌ </a></td>
              </tr>
            <% })%>
          </tbody>
        </table>
      </div>
  
      <% if(jwtData.roles == 3){%>
        <h2 class="my-4">Ajouter une matière</h2>
        <form action="/matieres/ajouterMatiere" method="POST" enctype="application/x-www-form-urlencoded" class="mb-5">
          <div class="input-group row">
            <span for="nom" class="col-sm-2 input-group-text">Nom</span>
              <input type="text" class="form-control" name="nom" id="nom">
          </div>
          <div class="input-group row my-4">
            <span class="col-sm-2 input-group-text"  for = "professeur" >Professeur</span>
            <select class="form-select" name="professeur" id="professeur">
              <option value = ""> Non renseigné </option>
              <% dataProfesseur.forEach(function(data){ %>
                  <option value="<%= data.id_perso %>"> <%= data.nom_perso %> <%= data.prenom_perso %> </option>
              <% }) %>
  
            </select>
          </div>
          

          <div class="text-center my-3">
            <button type="submit" class="btn btn-block mx-3 text-light" style="background-color: #2e2ca2;">Envoyer</button>
          </div>
        </form>
      <% } %>
  
    </div>
  
  </body>