<body>

    <% if(jwtData.roles == 2){%>
        <%- include('headerProfesseur') %>
      <% }else if(jwtData.roles == 3){ %>
        <%- include('headerProviseur') %>
      <% }else{ %>
        <%- include('headerEleve') %>
      <% } %>
  
    <div>
  
      <table>
  
        <thead>
  
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Matière</th>
            <th>Modification</th>
            <th>Suppression</th>
          </tr>
  
        </thead>
  
        <tbody>
  
          <% dataTotale.forEach(function(data){ %>
            <tr>
                
              <td><%= data.nom_perso %></td>
              <td><%= data.prenom_perso %></td>
              <td>
                <% if(data.nom_matiere) { %> 
                  
                  <%= data.nom_matiere %>
                
                <% } else { %>
                  Non-Définie
                <% } %>
              </td>
              <td><a href="http://localhost:3600/professeurs/modifierProfesseur/<%=data.professeur_Id%>"> Modifier </a></td>
              <td><a href="http://localhost:3600/professeurs/supprimerProfesseur/<%=data.professeur_Id%>"> Supprimer </a></td>
            </tr>
          <% })%>
  
        </tbody>
  
      </table>
  
    </div>
  
    <h2> Ajout d'un professeur </h2>
  
    <div>
  
      <form action="/professeurs/ajouterProfesseur" method="POST" enctype="application/x-www-form-urlencoded">
          
        <div id = 'ajout'>
  
          <label for = "nom", style="margin-right: 10px;">Nom:</label>
          <input type = "text" name = "nom" id = "nom" value = "", style="margin-right: 10px;">
      
          <label for = "prenom", style="margin-right: 10px;">Prénom:</label>
          <input type = "text" name = "prenom" id = "prenom" value = "", style="margin-right: 10px;">
  
          <label for = "mdp", style="margin-right: 10px;">Mot de passe:</label>
          <input type = "text" name = "mdp" id = "mdp" value = "", style="margin-right: 10px;">
  
        </div>
  
        <div style = "text-align: center; margin-top: 20px;">
  
          <button type = "submit">
  
            <div>Envoyer</div>
  
          </button>
      
        </div>
  
      </form>
  
    </div>
        
  </body>
  </html>