

<body>
    <% if(jwtData.roles == 2){%>
      <%- include('headerProfesseur') %>
    <% }else if(jwtData.roles == 3){ %>
      <%- include('headerProviseur') %>
    <% }else{ %>
      <%- include('headerEleve') %>
    <% } %>
  
    <div class="container my-5 w-50">
        <div class="row">
          <div class="col-md-12">
            <table class="table rounded">
              <thead>
                <tr>
                  <th class="w-25" scope="col">Matière</th>
                  <th scope="col">Notes</th>
                  <% if(jwtData.roles == 2 || jwtData.roles == 3){ %>
                  <th scope="col">Modification</th>
                  <th scope="col">Suppression</th>
                  <% } %>
                </tr>
              </thead>
              <tbody>
                <% let currentMatiere = null; %>
                <% dataNotes.forEach(function(data){ %>
                  <% if (data.nom_matiere !== currentMatiere) { %>
                    <% if (currentMatiere !== null) { %>
                      </tr>
                    <% } %>
                    <tr>
                      <td><%= data.nom_matiere %></td>
                      <td><%= data.note %></td>
                      <% if(jwtData.roles == 2 || jwtData.roles == 3){ %>
                        <td><a href="http://localhost:4000/notes/modifierNote/<%=data.id_note%>" class="btn btn-outline-info btn-sm">✏️</a></td>
                        <td><a href="http://localhost:4000/notes/supprimerNote/<%=data.id_note%>" class="btn btn-outline-danger btn-sm">❌</a></td>
                      <% } %>
                      <% currentMatiere = data.nom_matiere; %>
                  <% } else { %>
                    <tr>
                      <td></td>
                      <td><%= data.note %></td>
                      <% if(jwtData.roles == 2 || jwtData.roles == 3){ %>
                        <td><a href="http://localhost:4000/notes/modifierNote/<%=data.id_note%>" class="btn btn-outline-info btn-sm">✏️</a></td>
                        <td><a href="http://localhost:4000/notes/supprimerNote/<%=data.id_note%>" class="btn btn-outline-danger btn-sm">❌</a></td>
                      <% } %>
                  <% } %>
                <% }) %>
                <% if (currentMatiere !== null) { %>
                  </tr>
                <% } %>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">Moyenne Générale :</td>
                  <td><%= dataMoyenne[0].moyenne_generale %></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      
      
      

  <% if(jwtData.roles == 2 || jwtData.roles == 3){ %>
    <div>
      <form action="/notes/ajouterNote" method="POST" enctype="application/x-www-form-urlencoded">
      
        <div class="input-group">
          <span class="input-group-text col-sm-2" for="valeur">Valeur </span>
          <input type="text" class="form-control" name="valeur" id="valeur" required>
        </div>
        <div class="input-group row my-4">
          <span class="col-sm-2 input-group-text"  for = "matiere" >Matière</span>
          <select class="form-select" name="matiere" id="matiere">
            <% if(jwtData.roles == 3){ %>
              
              <% dataMatieres.forEach(function(data){ %>
                <option value = "<%= data.id_matiere %>"> <%= data.nom_matiere %> </option>
              <% }) %>
            <% }else{ %>
              <% dataMatieres2.forEach(function(data){ %>
                <option value = "<%= data.id_matiere %>"> <%= data.nom_matiere %> </option>
              <% }) %>
            <% } %>
          </select>
        </div>
        
        <div class="text-center my-3">
          <button type="submit" class="btn btn-block mx-3 text-light" style="background-color: #2e2ca2;">Envoyer</button>
        </div>
      </form>
    </div>
  <% } %>

</div>

</body>
</html>